*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #151320;
}

button{
    width: 300px;
    height: 100px;
    position: absolute;
    font-size: 30px;
    color: #17fa8e;
    border: 6px solid #17fa8e;
    background-color: #151320;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
}

button::before{
    content: '';
    width: 300px;
    height: 25px;
    margin: auto;
    position: absolute;
    background-color: #151320;
    left: -6px;
    right: 0;
    bottom: -6px;
    transition: width 0.5s,
                height 0.5s 0.5s;
}

button:hover:before{
    width: 0px;
    height: 6px;
    transition: width 0.5s,
    height 0.5s 0.5s;
}

button::after{
    content: '';
    width: 300px;
    height: 25px;
    margin: auto;
    position: absolute;
    background-color: #151320;
    left: -6px;
    top: -6px;
    right: 0;
    transition: width 0.5s,
                height 0.5s 0.5s;
}

button:hover:after{
    width: 0px;
    height: 6px;
    transition: width 0.5s,
                height 0.5s 0.5s;
}